<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Songs</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <!-- full layout start -->
    <div class="full_layout">
      <!-- left layout start-------------------------------------------------------------------- -->
      <div class="left_layout">
        <!-- left layout starts -->
        <div class="header">
          <!-- left side-navbar starts -->
          <div class="side-nav">
            <!-- div class user -->
            <div class="user">
              <div>
                <h2>{{nitin}}</h2>
                <p>thomoas@xyz.com</p>
              </div>
              <img src="..//static/Dashboard/star.png" class="star-img" />
            </div>
            <!-- div class user ends -->
            <ul>
              <li>
                <img src="..//static/Dashboard/dashboard.png" />
                <a href="/home"><p>Dashboard</p></a>
              </li>
            </ul>
            <ul>
              <li>
                <img src="..//static/Dashboard/logout.png" />
                <p id="log">Logout</p>
              </li>
            </ul>
          </div>
          <!-- left side nav ends -->
        </div>
        <!-- left-header ends -->
      </div>
      <!-- left_layout ends-------------------------------------------------------------------------------------- -->

      <!-- right_layout starts-------------------------------------------------------------------------------------- -->

      <div class="right_layout">
        <!-- search div input start -->
        <form action="/searched" method="post">
          <div class="search-div">
            <input
              id="av"
              onkeyup="search()"
              placeholder="Search song/album by name,artists, genre etc."
              class="search-bar"
              type="search"
              name="show_search"
              method="post"
            />
            <input class="search_submit" type="submit" />
          </div>
        </form>
        <!-- search div input ends -->
        <!-- search resut start -->

        <div class="search-result" id="showresult">
          <h1>You Searched: {{you_search}}</h1>
          <ul>
            {% for y in result %}
            <li>
              <div class="figure" style="display: flex">
                <div class="figureLeftComponent"></div>
                  <!-- imagesong first component start -->
                  <div class="song_img_div">
                    <img
                      src="../static/songs/song_img/first.jpeg"
                      class="song_img"
                    />
                  </div>
                  <!-- imagesong first component end -->
                  <!-- song +audio name start -->
                  <div class="song_name_div">
                    <h1 id="ro">{{y.title}}</h1>
                    <h4>{{y.title}} by {{y.artist}}</h4>
                    <h5>Album:{{y.album}}</h5>
                    <audio controls class="player">
                      <source
                        src="../static/allsongs/Shree Hanuman Chalisa Original Video  GULSHAN KUMAR  HARIHARAN Full HD.mp3"
                        type="audio/mp3"
                      />
                    </audio>
                  </div>

                  <!-- song + audio name end -->
                </div>
                <div class="figureRightComponent">
                  <div
                    class="rightSideFigure"
                    style="margin-left: 15px; height: 250px; overflow: auto"
                  >
                    <pre>{{y.lyrics}}</pre>
                  </div>
                  <br />
                  <br />
                  <div class="rightSideFigureForm" style="margin-left: 15px">
                    <form
                      method="post"
                    >
                      <label for="rating"><h4>Rate this song:</h4></label>
                      <select name="rating" id="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                      <input type="submit" value="Rate" />
                    </form>
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <!-- search result ends -->
        <!-- audio bar-->
        <div class="right-allsongs" id="show_allSongs">
          <ul>
            {% for y in song %}
            <li>
              <div class="figure" style="display: flex; justify-content: center; border: 1px solid black;">
                <div class="figureLeftComponent" style=" border: 1px solid rgb(208, 29, 29);">
                  <!-- imagesong first component start -->
                  <div class="song_img_div">
                    <img
                      src="../static/songs/song_img/first.jpeg"
                      class="song_img"
                    />
                  </div>
                  <!-- imagesong first component end -->
                  <!-- song +audio name start -->
                  <div class="song_name_div">
                    <h1 id="ro">{{y.title}}</h1>
                    <h4>{{y.title}} by {{y.artist}}</h4>
                    <h5>Album:{{y.album}}</h5>
                    <audio controls class="player">
                      <source
                        src="../static/allsongs/Shree Hanuman Chalisa Original Video  GULSHAN KUMAR  HARIHARAN Full HD.mp3"
                        type="audio/mp3"
                      />
                    </audio>
                  </div>

                  <!-- song + audio name end -->
                </div>
                <div class="figureRightComponent">
                  <div
                    class="lyricsbar"
                    style="margin-left: 15px; height: 250px; overflow: auto; border: 1px solid black"
                  >
                    <pre>{{y.lyrics}}</pre>
                  </div>
                  <br />
                  <br />
                  <div class="rightSideFigureForm2" style="margin-left: 15px">
                    <form
                      method="post"
                      action="{{ url_for('rate', song_id=y.song_id, user_id = user.user_id) }}"
                    >
                      <label for="rating"><h4>Rate this song:</h4></label>
                      <select name="rating" id="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                      <input type="submit" value="Rate" />
                    </form>
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>

        <!-- right_layout ends-------------------------------------------------------------------------------------- -->
      </div>
    </div>
    <!-- full layout ends -->

    <!-- script starts -->
    <script>
      console.log(log.innerHTML);
      console.log(ro.innerHTML);
      console.log(av.value);

      function search() {
        var inputs = av.value;
        console.log(inputs);

        if (inputs != "") {
          showresult.innerHTML = "";
          show_allSongs.innerHTML = "";
        }
      }
    </script>
    <!-- script ends -->
  </body>
</html>